/* 21 rows and columns */
@import "../pages/Homepage.css";

.grid {
    /* width: 100%;*/
    /* height: 100%;  */
    /* background-color: #d73977;  */
    width: 100%;
    --grid-width: 100%;
    aspect-ratio: 30 / 25;
    --ratio-y: 16;
    /* height: calc(100% / 26 * 16);   */
    background: none;
    background-image: url("../images/gameField.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 11px;
    /* margin: auto;
    margin-bottom: 30px; */
    display: grid;
    /* grid-template-columns: repeat(21, 20px); */
    grid-template-columns: repeat(30, 1fr);
    /* grid-template-rows: repeat(16 ,calc(100% / 26 * 16)); */
    grid-template-rows: repeat(25, 1fr);
}

.gridItem {
    outline: 1px solid rgba(52, 69, 118, 0.256);
}

.is-food {
    background-color: #f7d958;
    border-radius: 50%;
    background-image: url("../images/coin.png");
    background-size: cover;
}

/* ///////////////head///////////////// */
.is-head {
    background-color: #d73977;
    border-radius: 100% 0 0 100%;
    background-size: cover;
}

.eyes {
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
}

.center {
    /* background-color: blue; */
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
}

.no-wings {
    width: 0;
}

.small-wings {
    width: 100%;
    transform: translate(90%, -50%);
}

.med-wings {
    width: 150%;
    transform: translate(70%, -50%);
}

.big-wings {
    width: 200%;
    transform: translate(50%, -50%);
}

.is-tail {
    background-color: #d73977;
    /* border-radius: 55px;   */
}

/* .is-tail:last-of-type {
    background-color: #00f2ff;
  border-radius: 55px;   
}

.is-tail:first-of-type {
    background-color: #00f2ff;
    border-radius: 55px;  
}

.is-tail:last-child {
    background-color: #00f2ff;
    border-radius: 55px;  
}

.is-tail:first-child {
    background-color: #00f2ff;
    border-radius: 55px;  
} */

/* .is-tail:nth-child(2) {
 
background-color:   #00f2ff;
} */

/* .is-head:nth-child(2) {
    background-color :   #00f2ff;
    border-radius:  100% 0 0  100%;
    background-size: cover;  
} */

.UP {
    transform: rotate(90deg);
}

.DOWN {
    transform: rotate(-90deg);
}

.LEFT {
    transform: rotate(0deg);
}

.RIGHT {
    transform: rotate(-180deg);
}
